.wyszukiwarka {
  border-radius: 50px;
  background: white;
  z-index: 100;
  padding: 1rem;
  margin-top: 20px;
  -webkit-box-shadow: 0px 5px 10px #00000040;
          box-shadow: 0px 5px 10px #00000040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wyszukiwarka > i {
  font-size: 3rem;
  color: black;
  margin-right: 2rem;
  margin-left: 1rem;
  opacity: 0.6;
}

.wyszukiwarka .text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wyszukiwarka .text-field ::-webkit-input-placeholder {
  color: #6e6e6e;
  opacity: 1;
}

.wyszukiwarka .text-field :-ms-input-placeholder {
  color: #6e6e6e;
  opacity: 1;
}

.wyszukiwarka .text-field ::-ms-input-placeholder {
  color: #6e6e6e;
  opacity: 1;
}

.wyszukiwarka .text-field ::placeholder {
  color: #6e6e6e;
  opacity: 1;
}

.wyszukiwarka .text-field input {
  font-size: 1.5rem;
  height: 4rem;
  border-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-style: solid;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  min-width: 600px;
}

.wyszukiwarka .text-field button {
  height: 4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  border-style: solid;
  border-left: none;
  background-color: #4caf50;
}

.wyszukiwarka .text-field button i {
  font-size: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
}
/*# sourceMappingURL=fc_search.css.map */