#school_view {
    width: 100vw;
    height: 100vh;
    max-height: none;
    top: 0 !important;

    .logo {
        height: 2.5rem;
    }

    .modal-content {
        padding: 0 !important;
    }

    nav {
        background-color: #20A291;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;

        .nav-wrapper {
            display: flex;
            align-items: center;
            padding-left: 15px;
        }
    }

    .school-name {
        font-size: 2rem;
        padding-left: 15px;
        margin-bottom: 1rem;
    }

    .school-rating {
        padding-left: 15px;
        margin-bottom: 1.5rem;
    }

    .collection {
        border: none;

        .collection-item {
            border: none;
        }
    }
}