.modal {
  width: 100vw;
  height: 100vh;
  top: 0 !important;
  max-height: 500vh;
  padding: 0 !important;
}

.modal .modal-content {
  padding: 0 !important;
}

.modal nav {
  margin-bottom: 4rem;
}
/*# sourceMappingURL=school_view.css.map */